<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto main_header-container">
                <!-- right div -->
                <div id="about_right" class="col-md-6 col-12  main_header_right">
                    <figure>
                        <img src="images/about1.png" alt="about" class="img-fluid">
                    </figure>
                </div>
                <!-- left div -->
                <div id="about_left" class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I am a <span class="txt">Front End Developer</span></h1>
                    <a href="https://github.com/Syed-Jameel"><button>about me</button></a>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>